### list and list related examoples

In [79]:
li=[1,2,3,4,5]
print(li)

[1, 2, 3, 4, 5]

In [80]:
li[2]=1954 #update the list item value
print(li)

[1, 2, 1954, 4, 5]

In [81]:
del li[0] #del the specific index value
print(li)

[2, 1954, 4, 5]

In [82]:
for i in range(1,9):
    print(i,end= ' ')

1 2 3 4 5 6 7 8

In [83]:
print(li[-1])

5

In [84]:
print(li[1:3])

[1954, 4]

In [85]:
# method of list
print(sum(li))
print(max(li))
print(len(li))
print(min(li))
print(sum(li)//len(li)) #avg

1965
1954
4
2
491

In [86]:
li

[2, 1954, 4, 5]

### list method
     .append()
     .insert()
     .count()
     .index()
     .sort()
     .pop()

In [87]:
li.append(100) # will insert the new no.
li

[2, 1954, 4, 5, 100]

In [88]:
li.insert(4,100) # will inset in any specific positioon
li

[2, 1954, 4, 5, 100, 100]

In [89]:
li.count(100) # count of list item how many it is

2

In [90]:
li.index(4) # index gives the index of specific value

2

In [91]:
li.sort() # sorts the list
li

[2, 4, 5, 100, 100, 1954]

In [92]:
li.pop() # remove the last index
li

[2, 4, 5, 100, 100]

In [93]:
li.pop(0) # revres the given index 
li

[4, 5, 100, 100]

In [113]:
# 2nd largest no.
def secondlarge(li):
    li.sort()
    return li[-2]
li=[1,2,3,4,34,56]
secondlarge(li)

34

In [115]:

def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[1,2,3,4,34,56]
genericlarge(li,0)

1

In [116]:
# genericleast
def genericleast(li,n):
    li.sort()
    return li[n]
li=[1,2,3,4,34,56]
genericlarge(li,-0)

1

In [121]:
def numbertolist(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
n=int(input(''))
numbertolist(n)

12334

[1, 2, 3, 3, 4]

### Data srtucture-Tuples
     .it is similar to list object
     .list will be included in the the square brackets
     .tuples will be encloded in paraenthsis() 
     .list will increase/decreased and tuple is fixed so that
      you can't increase /decrease in tuple
     .it means

In [123]:
tu=(1,2,3,4)
tu

(1, 2, 3, 4)

In [125]:
tu[0:4]

(1, 2, 3, 4)

In [134]:
tu[3]=34
tu

TypeError: 'tuple' object does not support item assignment

In [131]:
li=[1,2,3,4]
li

[1, 2, 3, 4]

In [135]:
li[3]=123
li

[1, 2, 3, 123]

### Data structures - Dictionaries 
     .This data structure object is woks on set of keys 
     . and has unique key set is defined
     . every key is saperate from its value by colon(:)
     . every key and value pair is saperated by comma(,)

In [137]:
d1={"name":"007", "mobileno":918273646,"mailid":"kasd@gmail,com","password":"********"}
print(d1)

{'name': '007', 'mobileno': 918273646, 'mailid': 'kasd@gmail,com', 'password': '********'}

In [141]:
d1["mailid"]="bond007"
print(d1)

{'name': '007', 'mobileno': 918273646, 'mailid': 'bond007', 'password': '********'}

## contact application
#### module of contact
    .add contact
    .serch contact
    .import contact
    .update the contact not name
    .delete the contact

In [144]:
contacts={}
def addcontact(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print("contact added")
    else:
        print('not added')
    return
addcontact("bond",9440641007)
addcontact("james",9446007008)
addcontact("bond",9440641007)

contact added
contact added
not added

In [146]:
contacts

{'bond': 9440641007, 'james': 9446007008}

In [182]:
def serchcontact(name):
    if name in contacts:
        print(name , ":" , contacts[name])
    else:
        print("not present")
    return
serchcontact("bond")
serchcontact("kugh")

bond : 9440641007
not present

In [155]:
def importnew(newcontact):
    contacts.update(newcontact)
    print("new contact is added")
    return
newcontact={"kusal":546328573,"manoj":23256576}
importnew(newcontact)

new contact is added

In [168]:
contacts

{'bond': 9440641007, 'james': 9446007008, 'manoj': 23256576}

In [163]:
def updatedetails(name,phone):
    if name in contacts:
        contacts[name]=phone
        print("updated")
    else:
        print("failed")
    return
updatedetails("kusal",9988776655)
updatedetails("fakld",6677889955)

updated
failed

In [183]:
def deletecontact(name):
    if name in contacts:
        del contacts[name]
        print("contact is deleted")
    else:
        print("not present")
    return
deletecontact("kusal")
deletecontact("loki")

not present
not present

### string into list

In [188]:
s="name is bond"
li=s.split()
print(li)

['name', 'is', 'bond']

In [189]:
s="no time to die"
li=s.split('o')
print(li

['n', ' time t', ' die']

In [193]:
def splitTolist(s):
    li=s.split()
    numberlist=[]
    for i in li:
        numberlist.append(int(i))
    return numberlist
splitTolist('1 2 3 4 5')

[1, 2, 3, 4, 5]

In [194]:
def splitTolist(s):
    li=s.split()
    numberlist=[]
    for i in li:
        numberlist.append(i)
    return numberlist
splitTolist('1 bond 3 kusal 5')

['1', 'bond', '3', 'kusal', '5']